.container{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border-radius: 5px;
    border: solid black 1px;
}

.gameFieldContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.gameField {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    //background-color: rgba($color: black, $alpha: 0.1);
    overflow: hidden;
    border: 1px solid black;
  }